<header class="main-controls">
    <section class="control">
        <input type="checkbox" class="class-checkbox" data-class="preview" id="bcc-preview">
        <label for="bcc-preview">Preview</label>
    </section>
    <section class="control">
        <input type="checkbox" class="class-checkbox" data-class="horizontal" id="bcc-horizontal">
        <label for="bcc-horizontal">Horizontal</label>
    </section>
    <section class="control">
        <input type="checkbox" class="class-checkbox" data-class="spread" id="bcc-spread">
        <label for="bcc-spread">Spread</label>
    </section>
</header>