<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}

  <meta charset="utf-8" />
  <meta name="generator" content="Pelican" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="Ume recipe book" />

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/webfonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/selected-fonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/print-interface.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/recipe.css" />

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-3.6.0.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/interface.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/mermaid@9.2.0/dist/mermaid.min.js"></script>

  <script>
    window.PagedConfig = {
      // so the added interface isn't taken in the document flow
      after: function() {

        // Produced an error
        initInterface();

        mermaid.initialize({ startOnLoad: false, theme: 'neutral' });
        const mermaidCodeblock = document.querySelector('.mermaid'),
              mermaidCode = mermaidCodeblock.textContent;
              
        mermaid.mermaidAPI.render('mermaidCanvas', mermaidCode, (svgCode) => {
          const mermaidContainer = document.createElement('div');
          mermaidContainer.style.position = 'absolute';
          mermaidContainer.style.top = '0px';
          mermaidContainer.style.right = '0px';
          mermaidContainer.style.bottom = '0px';
          mermaidContainer.style.left = '0px';
          mermaidContainer.innerHTML = svgCode;
          mermaidCodeblock.insertAdjacentElement('beforebegin', mermaidContainer)
        });

      }
    }
    
  </script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/paged.polyfill.js"></script>

  {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block body %}

    {% endblock body %}

</body>

</html>
