/* :root{

    'fontSize': '20pt',
    'primaryColor': '#ff0000', 
    'edgeLabelBackground':'white', 
    'tertiaryColor': '#0000ff'
} */

/* 

NOTE: CSS for DIV inside SVG

*/

body{
    /* background-color: white; */
}

pre.mermaid{
    opacity: 0;
    pointer-events: none;
    font-size: 3pt;
    line-height: 1;
}

/* HTML */
#mermaidCanvas{
    /* max-width: 100%; */
}

.flowchart > div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.node .nodeLabel{
    font-family: 'Ume P Gothic';
    font-size: 20pt;
    line-height: 1.5;
    padding: 0 0.5em;
    color: black;
}
.node.endstart .nodeLabel{
    color: white !important;
}

.edgeLabel{
    background-color: white !important;
    color: black !important;
    text-align: left  !important;
    
    font-family: 'Ume P Gothic';
    /* font-family: 'Ume T Mincho'; */
    font-size: var(--fs-main);
    line-height: var(--lh);
}

#L-ff-inkscape-0{
    stroke-dasharray: 2pt !important;
}

/* SVG */
.node rect{
    fill: white !important;
    stroke: black !important;
    stroke-width: 0.8pt !important;
}
.node.endstart rect{
    /* defonce */
    fill: black !important;
}
.node.end rect{
    /* defonce */
    fill: var(--c);
}

path.flowchart-link{
    stroke: black !important;
    stroke-width: 0.8pt !important;
    fill: none;
}

.marker{
	fill: black !important;
	stroke: none !important;
    stroke-width: 0px !important;
}