/* CSS for Paged.js interface – v0.2 
customized by Doriane Timmermans
*/

/*
TODO:
* position fixed for interface-bar directly in css
* use iframe so the interface(not using pagedjs) and content(using pagedjs) is separated
(and we can use css that is not going to be processed by pagedjs in the interface)
* margin-bottom on last page does not work
* centered zoom and composition (not top left ?)

* show margin boxes only when superior to 0 otherwise it overlays the stroke of pagebox!!
* correction of bug of 1mm added to body.spread .pagedjs_pages
* space between pages relative to their size
*/

/* Change the look */
:root {
    --color-background: gainsboro;
    --color-pageSheet: lightgrey;
    --color-pageBox: lightsalmon;
    --color-paper: white;
    --color-marginBox: skyblue;


    /* --pagedjs-crop-color: black;
    --pagedjs-crop-shadow: white;
    --pagedjs-crop-stroke: 1px; */

    --color-interface-bar: gainsboro;
    --color-interface-bar-text: black;
    --color-interface-bar-border: darkgrey;
    --interface-bar-height: 40px;
    --interface-outline: 1px;
    --page-space: 1cm;
}

/* To define how the book look on the screen: */
@media screen {
    body {
        background-color: var(--color-background);
        margin: 0;
    }

    /* ___ display (single or spread) ___*/
    .pagedjs_pages {
      display: flex;
      width: calc(var(--pagedjs-width) + 2 * var(--page-space));
      flex-wrap: wrap;
      /* margin: 0 auto; */
      position: relative;
      top: var(--interface-bar-height);
    }

    .pagedjs_page {
      margin: 0;
      flex-shrink: 0;
      flex-grow: 0;
      margin-top: var(--page-space);
      margin-left: var(--page-space);
      margin-right: var(--page-space);
      background-color: var(--color-paper);
      position: relative;
    }

    .pagedjs_page:last-of-type {
      margin-bottom: var(--page-space);
    }

    /* spread mode */
    body.spread .pagedjs_pages{
      display: grid;
      grid-template-columns: repeat(4, min-content);
      gap: 1cm var(--interface-outline);
      width: 100%;
      padding: 1cm;
    }
    body.spread .pagedjs_page{
      margin: 0;
      /* width: calc(var(--pagedjs-width) * 2 - var(--pagedjs-bleed-right) - var(--pagedjs-bleed-left) + 2 * var(--page-space) + 1mm); */
      /* margin-right: var(--page-space); */
    }
    body.spread .pagedjs_first_page {
      /* margin-left: calc(var(--pagedjs-width) - var(--pagedjs-bleed-left) - var(--pagedjs-bleed-right) + var(--page-space)); */
    }
    body.spread .pagedjs_left_page{
      /* z-index: 2;
      width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width));
      margin-right: 0; */
    }
    body.spread .pagedjs_right_page:not(.pagedjs_first_page){
      /* z-index: 1;
      width: calc(var(--pagedjs-pagebox-width) + var(--pagedjs-bleed-right));
      margin-left: 0; */
    }
    body.spread .pagedjs_right_page:not(.pagedjs_first_page) > .pagedjs_sheet{
      /* position: absolute; top: 0; right: 0; */
    }
    body.spread .pagedjs_left_page .pagedjs_bleed-right{
      /* display: none; */
    }

    /* ___ horizontal mode ___*/
    body.horizontal .pagedjs_pages {
      width: auto !important;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    /* ___ show the rules ___ */

    /* only draw large boxes when not in preview */
    .pagedjs_page, .pagedjs_pagebox{
      position: relative;
    }
    body:not(.preview) .pagedjs_page_content{
      background:
        linear-gradient(to top,
        var(--color-marginBox) 0,
        var(--color-marginBox) var(--interface-outline),
        rgba(0,0,0,0) var(--interface-outline),
        rgba(0,0,0,0) var(--lh));
      background-size: 100% var(--lh);
    }

    /* body.preview .pagedjs_pagebox{
      overflow: hidden;
    } */
    /* body.preview .pagedjs_pagebox::after{
      content: ""; position: absolute; inset: 0;
      z-index: 99999999; pointer-events: none;
      outline: var(--interface-outline) solid var(--color-pageSheet);
    }
    body:not(.preview) .pagedjs_pagebox::after{
      content: ""; position: absolute; inset: 0;
      z-index: 99999999; pointer-events: none;
      outline: calc(var(--interface-outline) * 1) solid var(--color-pageBox);
    }
    body:not(.preview) .pagedjs_page::after{
      content: ""; position: absolute; inset: 0;
      z-index: 99999998; pointer-events: none;
      outline: var(--interface-outline) solid var(--color-pageSheet);
    }
    .pagedjs_marks-crop {
    	z-index: 999999999;
    } */

    /* hide crop marks */
    body.preview :is(
      .pagedjs_bleed-top,
      .pagedjs_bleed-left,
      .pagedjs_bleed-right,
      .pagedjs_bleed-bottom
    ) > * {
      border: none !important;
    }

    /* only show margins boxes when not in preview */
    body:not(.preview) .pagedjs_margin{
        /* outline: var(--interface-outline) solid var(--color-marginBox);
        outline-offset: calc(var(--interface-outline) * -1/2); */
    }

    /* uncomment this par to see the baseline : -------------------------------------------*/
    /* .pagedjs_pagebox {
        --pagedjs-baseline: 22px;
        --pagedjs-baseline-position: 5px;
        --pagedjs-baseline-color: cyan;
        background: linear-gradient(transparent 0%, transparent calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
        background-size: 100% var(--pagedjs-baseline);
        background-repeat: repeat-y;
        background-position-y: var(--pagedjs-baseline-position);
    }  */

}

/* added by Doriane */
/* pagedjs seems to remove the "unused css" and because the interface is
added through js at the end it does not work */

body > .interface{
  display: none;
}
@media screen {
  body > .interface {
    font-size: 14px; /* fixed font-size so it doesn't interfere with user font-sizes */
    background: var(--color-interface-bar);
    border-bottom: thin var(--color-interface-bar-border) solid;
    box-sizing: border-box;
    color: var(--color-interface-bar-text);
    font-family: monospace;
    text-transform: capitalize;
    display: flex;
    width: 100%;

    height: var(--interface-bar-height);
    align-items: stretch;

    /* pagedjs crop marks have index of 9999999999, so we put it just above */
    z-index: 1000000000;
  }
  body > .interface > section{
    display: flex;
    gap: 1.5em;
    padding: 0 0.5em;
    border-right: thin var(--color-interface-bar-border) solid;
  }
  body > .interface .control {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  input{
    font-family: monospace;
    font-size: 14px;
    text-transform: capitalize;
  }

  .page-control input{
    width: 5em;
  }
}
