/*  COVER/FIGURE 
    ======================================================= */

.recipe__cover{
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: calc(var(--lh) * 2);
}
.plum-figure{
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 100%;
    overflow: hidden;
}
.recipe__title{
    font-size: var(--fs-title);
    line-height: calc(var(--lh) * 3);
    text-align: center;
}


.plum{
    flex: 0 1 100%;
    font-size: 300pt;
    line-height: 1;
    position: relative;
    bottom: -0.1em;

    /* center the plum in its allowed space */
    display: flex;
    justify-content: center;
    align-items: flex-end;

    min-height: 0;
    max-height: 100%;
    overflow: visible;
}
.recipe__caption{
    flex: 0 0 auto;
    text-align: center;
}


/* exeptions */
#helium .plum{
    font-size: 270pt;
}
#stroke .plum{
    bottom: 0.04em;
}

/*  METADATA BLOCK
    ======================================================= */

.recipe__metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    /* added global border so is has even thickness */
    /* border: var(--border); */
    outline: var(--border);
    outline-offset: calc(-0.5 * var(--border-width));

    line-height: calc(var(--lh) * 1.25);
}

.meta-block{
    flex-grow: 1;

    display: inline-block;
    padding: 0 0.5em;

    /* merge the outlines */
    outline: var(--border);
    outline-offset: calc(-0.5 * var(--border-width));
}

.meta-key{
    background-color: black;
    color: white;
}

/*    INTRO 
    ======================================================= */

.p-first {
 margin: 0;
}
#dear-horai blockquote p {
  font-family: 'Ume T Mincho';
  font-size: var(--fs-mincho);
}
#dear-horai blockquote  {
  margin: calc(var(--lh) * 1) 0;
    padding: 0 var(--lh);
}

/*  TYPOGRAPHY (FOR RECIPES, if global see main.css)
    ======================================================= */
h2.h-first {
    margin-top: 0px;
}
.recipe__content{
    padding-top: calc(1 * var(--lh));
}

.recipe__content p{
    margin: 0;
}
.recipe__content p + p{
    text-indent: calc(var(--lh) * 1.5);
}
.highlight + p{
    text-indent: 0 !important;
}

/* figures */
.recipe__content figure{
    --lineshift: 0pt;
    margin: calc(var(--lh)  + var(--lineshift)) 0;
}
.recipe__content img{
    /* border: var(--border); */
    /* max-height: calc(8 * var(--lh)); */
}
.recipe__content figcaption{
    font-family: 'Ume P Gothic';
    margin: 0;
    padding: 0 var(--lh);
}
.recipe__content figcaption::before{
    content: "↳ ";
}


/* lettrine */
/* .recipe__content p:first-of-type::first-letter{
    float: left;
    font-size: 64pt;
} */

#loop .recipe__content figure:nth-of-type(1){
    --lineshift: -4.4pt !important;
}

#geopendown .recipe__title{
    font-size: 36pt;
    text-align: left;
}
#geopendown .recipe__content figure:nth-of-type(1){
    --lineshift: 4.6pt !important;
}
#geopendown .recipe__content figure:nth-of-type(2){
    /* margin-top: 0 !important; */
}
#geopendown .recipe__content figure{
    opacity: 1 !important;
}
#geopendown .recipe__content h2:nth-of-type(3){
    margin-top: calc(0.4 * var(--lh));
}

#stroke .recipe__content{
    padding-top: calc(1.75 * var(--lh));
}
#stroke .recipe__title{
    position: relative;
    top: -0.08em;
    font-size: 42pt;
}
#stroke .recipe__content figure:nth-of-type(1){
    --lineshift: 1pt !important;
}
#stroke .recipe__content figure:nth-of-type(2) > img{
    margin: 0 auto;
}
#stroke .recipe__content figure:nth-of-type(3){
    --lineshift: 2pt !important;
}



/*  OVERLAYED TEST
    ======================================================= */

.recipe-intro__cover{
    position: relative;
}
.recipe-intro__cover .plum{
    position: absolute;
    inset: 0;

    color: transparent;
    -webkit-text-stroke: 1pt var(--c);
}
