<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="UTF-8" />

    <title>UME</title>
    <meta name="description" content="a call for 2 desks in studio 5 of the Meyboom artist-run spaces">

    {% if options['reset'] %}
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    {% if options['print'] %}
    <link rel="stylesheet" type="text/css" href="css/print.css" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    
    {% if options['print'] %}
      {% include 'partials/print-interface.html' %}
    {% endif %}

    <div class="page recto">
      <div class="page-content pad">
          {% for page in pages %}
          <section id="{{page.id}}">
            <h1>{{page.title}}</h1>
            {% for l in page.lines %}
              {% if loop.index < 3 %}
                <p class="limited">{{ l }}</p>
              {% elif loop.index == 3 %}
                <p class="limited"> {{ l }}
              {% elif loop.index > 3 and loop.index < 10 %}
                {{ l }}
              {% elif loop.index == 12 %}
                <p class="limited big"> {{ l }}
              {% else %}
                {{ l }}
              {% endif %}
            {% endfor %}
            </p>
          </section>
          {% endfor %}
        </div>
      </div>

    {% if options['print'] %}
      <script src="js/print-interface.js"></script>
    {% endif %}

  </body>

</html>
