
/*  PRINTING OPTIONS
    =============================================================== */

@media print{
    @page {
        /* A3 */
        size: 420mm 297mm;
        margin: 1cm;
        bleed: 0mm;
        marks: crop;
    }
}

/* things that should appear on one page */
.fullpage{
    break-after: page;
    height: calc(var(--pagedjs-pagebox-height) - 2cm);
}