
/*  PRINTING OPTIONS
    =============================================================== */

@media print{
  
  @page {
    /* A6 */
    size: 105mm 148mm;
    margin-top: 1cm;
    margin-left: 0.75cm;
    margin-right: 0.75cm;
    margin-bottom: 1.45cm;
    bleed: 0mm;
    marks: crop;
  }

  @page:left{
  }
  @page:right{
  }
  @page:blank {
  }


  /* @page flowing{
    margin: 1cm 1cm 2cm;

    @bottom-right{
      content: "page " counter(page);
    }
  } */
}

/* every recipe on a new page */
.article.recipe{
  break-before: page;
}

/* create pagebreak */
.article hr{
  border: none;
  margin: 0;
  break-before: page;
}

/* things that should appear on one page */
.fullpage{
  break-after: page;
  height: calc(var(--pagedjs-pagebox-height) - 2.45cm);
  /* overflow: hidden; */
}

/* do not breaks the figures */
figure{
  break-inside: avoid;
}