<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O</title>
  <link rel="stylesheet" href="webfonts.css">
  <style>
    body {
      text-align: center;
      display: grid;
      grid-template-rows: 100vh;
      grid-template-columns: 100vh;
    }

    div {
      font-size: 60vh;
      text-align: center;
      /* position: absolute; */
      /* top: 10vh; */
      /* right: 0; */
      /* bottom: 10vh; */
      /* left: 0; */
      /* margin-top: 10vh; */
      -webkit-text-stroke: .05vw black;
      -webkit-text-fill-color: transparent;
      grid-row: 1;
      grid-column: 1;
      align-self: baseline;
    }
  </style>
</head>
<body>
  {% for font in webfonts %}
  <div style="font-family: {{ font.template_safe_name }};">O</div>
  {% endfor %}
</body>
</html>