<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="webfonts.css">
  <style>
    body {
      font-family: ume_p_gothic_balsa;
      column-count: 4;
      column-fill: auto;
      font-size: 10.5pt;
      line-height: 13pt;
    }

    strong {
      font-family: ume_p_gothic_balsa_bold;
    }

    h3 {
      font-size: 14pt;
      margin-bottom: 0;
      margin-top: 15em;
      font-weight: normal;
    }

    .level {
      margin-left: 1em;
    }
/* 
    .sample {
      margin-top: 8pt;
      margin-bottom: 5pt;
      font-size: 26pt;
      display: block;
    } */

    .label {
      font-size: 14pt;
      text-align: left;
    }

    .font {
      break-inside: avoid;
    }

    h3 {
      break-after: avoid;
    }

    .commit {
      break-inside: avoid;
      display: inline;
    }
    
    .commit:not(:last-child):after {
      content: '. ';
      margin-left: .1ch;
    }

    .sample {
      line-height: 8pt;
    }

  </style>
</head>
<body>
    <strong>Commits with changes to font files.</strong><br><br>
    {% for project, commits in grouped %}
      <div class="project">
        <strong>{{ project.name }}</strong>
        {% for commit in commits %}
          <div class="commit">
            {{ commit.committed_date.strftime('%d/%m/%y') }}
            <strong>{{ commit.author_name }}</strong>: {{ commit.message|trim }}
            {% for new_font in commit.new_fonts %}<span class="sample" {% if ".otf" in new_font.extensions or ".ttf" in new_font.extensions %}style="font-family: {{ new_font.template_safe_name }};"{% endif %}>{{ new_font.basename|trim }}</span>{% endfor %}</div>
        {% endfor %}
      </div><br>
    {% endfor %}
</body>
</html>
</html>