<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="webfonts.css">
  <style>
    body {
      font-family: ume_p_gothic_balsa;
    }

    h3 {
      font-size: 14pt;
      margin-bottom: 0;
      margin-top: 2em;
      font-weight: normal;
    }

    .level {
      margin-left: 1em;
    }

    .sample {
      margin-top: 8pt;
      margin-bottom: 5pt;
      font-size: 26pt;
      display: block;
    }

    .label {
      font-size: 14pt;
      text-align: left;
    }

    .font {
      break-inside: avoid;
    }

    h3 {
      break-after: avoid;
    }
  </style>
</head>
<body>
  {% for key, value in fonts.items() %}
    {% if key != '__type' %}
      {% if key == '__font' %}
        {% with ext=key, font=value %}
          {% include "snippets/font-simple.html" %}
        {% endwith %}
      {% elif value.__type == 'list' %}
        {% with name=key, values=value %}
          {% include "snippets/list-simple.html" %}
        {% endwith %}
      {% endif %}
    {% endif %}
  {% endfor %}
</body>
</html>
</html>