<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fontlist</title>
</head>
<body>
  <ul>
    {% for key, value in fonts.items() %}
      <li>
        {% if value.__type == 'list' %}
          {% with name=key, values=value %}
            {% include "snippets/list.html" %}
          {% endwith %}
        {% else %}
          {% with ext=key, font=value %}
            {% include "snippets/font.html" %}
          {% endwith %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</body>
</html>