<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fontlist</title>
</head>
<body>
  {% for name, formats in seen_fonts.items() %}
    <h2>{{ name }}</h2>
    {% for ext, font in formats.items() %}
      {% if ext in PREVIEWED_EXTENSIONS %}
        <style>
          @font-face {
            font-family: {{ font.template_safe_name }};
            src: url("{{ font.local_path }}"); 
          }
        </style>
        <div style="font-family:{{ font.template_safe_name }}; font-size: 5em;" contenteditable="true">
          {{ PLACEHOLDER_TEXT }}
        </div>
      {% endif %}
      <ul>
        <li>
          <strong>{{ ext }}</strong>: <a href="{{ font.web_url }}">{{ font.web_url }}</a><br />
          <h6>Seasons</h6>
          <ul>
            {% for season in font.seasons %}
              <li>
                <a href="{{ season.web_url }}">{{ season.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    {% endfor %}
  {% endfor %}
</body>
</html>