<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O</title>
  <link rel="stylesheet" href="webfonts.css">
  <style>
    body {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 10vw;
      /* grid-auto-flow: column; */
      /* max-width: 100%; */
    }

    div {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .sample {
      font-size: 3vw;
      display: block;
    }

    .label {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 10px;
      text-align: left;
      right: 1em;
    }
  </style>
</head>
<body>
  {% for font in webfonts %}
  <div>
    <span class="sample" style="font-family: {{ font.template_safe_name }};">AaBbCc</span>
    <span class="label">{{ font.name }}</span>
  </div>
  {% endfor %}
</body>
</html>