<div class="font">
  {% if ".otf" in font.extensions or ".ttf" in font.extensions %}
    <span class="sample" style="font-family: {{ font.template_safe_name }};">{{ font.basename }}</span>
  {% endif %}
  <details>
    <summary>Occurences: {{ font.occurences|count }}</summary>
    {% for (link, commit) in font.occurences %}
      <span class="label"><strong>{{ commit.author_name }}:</strong> {{ commit.message }}</span><br />
      <span class="label"><a href="{{ link }}">{{ link }}</a></span><br />
    {% endfor %}
  </details>
  Seasons: 
  {% for project in font.seasons %}
    <a href="{{ project.web_url }}">{{ project.name }}</a>
  {% endfor %}
</div>