{{ ext }}: <a href="{{ font.web_url }}">{{ font.web_url }}</a><br />
{% if ext in PREVIEWED_EXTENSIONS %}
  <style>
    @font-face {
      font-family: {{ font.template_safe_name }};
      src: url("{{ font.local_path }}"); 
    }
  </style>
  <div style="font-family:{{ font.template_safe_name }}; font-size: 5em;" contenteditable="true">
    {{ PLACEHOLDER_TEXT }}
  </div>
{% endif %}
<h6>Seasons</h6>
<ul>
  {% for season in font.seasons %}
    <li>
      <a href="{{ season.web_url }}">{{ season.name }}</a>
    </li>
  {% endfor %}
</ul>