<details>
  <summary>{{ name }}</summary>
  <ul>
    {% for key, value in values.items() %}
      {% if key != '__type' %}
        <li>
          {% if value.__type == 'list' %}
            {% with name=key, values=value %}
              {% include "snippets/list.html" %}
            {% endwith %}
          {% else %}
            {% with ext=key, font=value %}
              {% include "snippets/font.html" %}
            {% endwith %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</details>  
  