<div class="level">
  <h3>{{ name }}</h3>
  {% if '__font' in values %}
    {% with font=values.__font %}
      {% include "snippets/font-simple.html" %}
    {% endwith %}
  {% endif %}
  {% for key, value in values.items() %}
    {% if key != '__type'  and key != '__font' %}
      {% with name=key, values=value %}
        {% include "snippets/list-simple.html" %}
      {% endwith %}
    {% endif %}
  {% endfor %}
</div>  
  