<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}

  <meta charset="utf-8" />
  <meta name="generator" content="Pelican" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="Ume recipe book" />

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/webfonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/selected-fonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/print-interface.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/recipe.css" />

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-3.6.0.js"></script>



  {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block body %}

    {% endblock body %}

</body>

</html>
