
{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/formats/A3.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/flowchart.css" />
{% endblock head%}

{% block body %}

<section class="flowchart">

    <pre class="mermaid">
        {% for cat in categories %}
        {% if cat[0].name == 'Recipes' %}
        %%{ init: { 'flowchart': { 'curve': 'natural' } } }%%
        flowchart TB
        
            {% for recipe in cat[1] %}
            
            {% set numbers = ['&#x2460;', '&#x2461;', '&#x2462;', '&#x2463;', '&#x2464;', '&#x2465;', '&#x2466;', '&#x2467;'] %}
            {% set tools = recipe.tools.split(', ') %}
            
            {% for tool in tools %}
            {% set arrow_legend = recipe.title + ' ' + numbers[loop.index - 1] %}

            {% if recipe.transformations %}
                {% set trans = ' \\n ' + recipe.transformations.split(', ')[loop.index - 1] %}
            {% else %}
                {% set trans = '' %}
            {% endif %}

            
            {% if loop.first %}
        ff[font file] {% if recipe.slug == 'geopendown' or recipe.slug == 'stroke' %}-.->{% else %}--->{% endif %}|"{{arrow_legend}}{{trans}}"| {{tool|slugify}}[{{tool}}]
        class ff endstart;
            
            {% else %}
        {{loop.previtem|slugify}}[{{loop.previtem}}] -->|"{{arrow_legend}}{{trans}}"| {{tool|slugify}}[{{tool}}]
            {% endif %}

            {# adding the last one #}
            {% if loop.last and recipe.slug != 'geopendown' %}
                {% set new_index = loop.index + 1 %}
                {% set arrow_legend = recipe.title + ' ' + numbers[loop.index] %}

                {% if recipe.transformations %}
                    {% set trans = ' \\n ' + recipe.transformations.split(', ')[loop.index] %}
                {% else %}
                    {% set trans = '' %}
                {% endif %}

        {{tool|slugify}}[{{tool}}] --->|"{{arrow_legend}}{{trans}}"| {{recipe.slug}}[{{recipe.title}}]
        class {{recipe.slug}} endstart;
            {% endif %}
                    
            {% endfor %}
                    
            {% endfor %}
                    
        {% endif %}
        {% endfor %}
    </pre>
                
</section>
{% endblock %}