{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/formats/A6.css" />
{% endblock head%}

{% block body %}

  {# get recipes #}
  {% for cat in categories %}

    {% set meta = cat[0] %}
    {% set articles = cat[1] %}

    {% if cat[0].name == 'Context' %}

      {% for article in articles %}
        {% include meta.template+'.html' %}
      {% endfor %}

    {% elif cat[0].name == 'Recipes' %}

      {#
      <section class="article recipe recipe-intro">
        <div class="fullpage recipe-intro__cover">
          {% for recipe in recipes %}
            <div class="plum ff-{{recipe.slug}} typology-{{recipe.typology}}">O</div>
          {% endfor %}
        </div>
        <hr>
        <hr>
        <hr>
      </section>
      #}

      {% for recipe in articles %}
        {% if recipe.currently != 'unfinished' %}
          <a href="{{recipe.url}}">{{recipe.title}}</a>
        {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor %}
  
{% endblock %}