:root{
    /* font-sizes */
    --fs-lettrine: 64pt;
    --fs-title: 48pt;
    --fs-subtitle: 20pt;
    --fs-main: 10pt;
    /* --fs-caption: 8.5pt; */

    /* from gothic to mincho in terms of x height */
    --fs-mincho: 1.16em;

    /* interline */
    /* --lh: 1.35rem; */
    --lh: 4.75mm;

    /* 
    26 lignes of 4.75mm
    148 de hauteur - 123.5 = 24.5mm de marge
    */

    /* just to get a feeling of what it could looks like */
    --c-stroke: orangered;
    --c-bitmap: DarkGoldenRod;
    --c-curve: mediumblue;

    --border-width: 0.4mm;
    --border: 0.4mm solid black;
}

html{
    font-size: var(--fs-main);
    line-height: var(--lh);
}
body{
    line-height: inherit;
    font-family: 'Ume P Gothic';
}
.mono{
    font-family: 'Ume T Gothic';
}
.mincho{
    font-family: 'Ume P Mincho';
}
.mono-mincho{
    font-family: 'Ume T Mincho';
    font-size: var(--fs-mincho);
} 


/*  TYPOLOGY 2 COLORS
    =============================================================== */

.typology-stroke{
    --c: var(--c-stroke);
}
.typology-bitmap{
    --c: var(--c-bitmap);
}
.typology-curve{
    --c: var(--c-curve);
}

@media screen {
    body:not(.preview) .shadow-emulation{
        text-shadow: 2pt 2pt var(--c);
    }
}


/*  GENERAL IMAGES 
    =============================================================== */

img{
    display: block;
    max-width: 100%;
}


/*  LAYERS 
    =============================================================== */

/* 
    Differences between two layers
*/

/*  */
body.color .meta-Typology{
    position: relative;
    z-index: 0;
}
body.color .meta-Typology::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #999;
    /* opacity: 0.4; */
    z-index: -1;
}

body:not(.color) .recipe__content figure{
    opacity: 0;
}



/*  GENERAL TYPOGRAPHY 
    =============================================================== */

h1,h2,h3,h4,h5,h6{
    font-size: var(--fs-subtitle);
    line-height: var(--lh);
}

h2, h3{
    margin-top: calc(var(--lh) * 1.4);
    margin-bottom: calc(var(--lh) * 0.6);
}
.recipe__content h2:first-child{
    margin-top: calc(0.4 * var(--lh));
}
h2 + p, h3 + p{
    margin-top: 0;
}

p{
    /* exactly one line between paragraphs */
    margin: var(--lh) 0;
    padding-right: 0.3cm;
}

a{
    color: black;
    font-family: 'Ume T Mincho';
    /* text-decoration-thickness: calc(var(--border-width) * 0.7); */
    text-decoration: none;
    font-size: var(--fs-mincho);
    line-height: 0;
}
code {
    font-family: 'Ume T Mincho';
    font-size: var(--fs-mincho);
    line-height: 0;
}
pre {
    font-family: 'Ume T Mincho';
}
.codehilite{
    margin: calc(var(--lh) * 1) 0;
    padding: 0 var(--lh);
}

ol{
    all: revert;
    margin: calc(var(--lh) * 1) 0;
    padding-left: var(--lh);
}

sup{
	all: revert;
	line-height: 0;
}

/*  EXEPTION
    =============================================================== */
    
#context ul li{
    display: inline;
}
#context ul li::after{
    content: ', ';
}
#context ul li:last-of-type::after{
    content: '.';
}
