/* 
    RECIPES
    ================================================================ */

/* 
    Selecting one font-file per recipe, 
    from the webfonts.css script generated list
*/

.ff-helium{
    font-family: 'ume_helium';
}
.ff-plume{
    font-family: 'ume_plume_p_gothic_410';
}
.ff-loop{
    font-family: 'ume_loop_gothic6';
}
.ff-straight{
    font-family: 'ume_straight_soft';
}
.ff-stroke{
    font-family: 'ume_stroke_stroke_condensed_int_100_ext_100';
}


/* 
    ORGINAL 
    ================================================================ */

/* 
from: https://sources.debian.org/src/fonts-horai-umefont/
*/

/* GOTHIC (1 weight - but also exist in lighter 'pgc4' see fonts files) */
@font-face {
    font-family: 'Ume P Gothic';
    src: url('../fonts/original/gothic/ume-pgc5.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Ume P Gothic';
    src: url('../fonts/original/gothic/ume-pgc5.ttf');
    font-weight: bold;
}

/* GOTHIC MONO (1 weight - but also exist in lighter 'tgc4' see fonts files) */
@font-face {
    font-family: 'Ume T Gothic';
    src: url('../fonts/original/gothic/ume-tgc5.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Ume T Gothic';
    src: url('../fonts/original/gothic/ume-tgc5.ttf');
    font-weight: bold;
}

/* MINCHO (1 weight) */
@font-face {
    font-family: 'Ume P Mincho';
    src: url('../fonts/original/mincho/ume-pmo3.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Ume P Mincho';
    src: url('../fonts/original/mincho/ume-pmo3.ttf');
    font-weight: bold;
}

/* MINCHO MONO (1 weight) */
@font-face {
    font-family: 'Ume T Mincho';
    src: url('../fonts/original/mincho/ume-tmo3.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Ume T Mincho';
    src: url('../fonts/original/mincho/ume-tmo3.ttf');
    font-weight: bold;
}