

/* skeleton example */

@font-face {
    font-family: "UmePlumePGothic";
    src: url("../fonts/UmePlumePGothic-410.otf");
    font-weight: normal;
}
@font-face {
    font-family: "UmePlumePMincho";
    src: url("../fonts/UmePlumePMincho-410.otf");
    font-weight: bold;
}

/* bitmap example */

@font-face {
    font-family: "UmeLoopGothic";
    src: url("../fonts/UmeLoopGothic6.otf");
    font-weight: normal;
}
@font-face {
    font-family: "UmeLoopMincho";
    src: url("../fonts/UmeLoopMincho12.otf");
    font-weight: normal;
}

/* outline example */

@font-face {
    font-family: "UmeStraightSoft";
    src: url("../fonts/Ume-Straight-Soft.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "UmeHelium";
    src: url("../fonts/UmeHelium.otf");
    font-weight: normal;
}
