
:root{

}

html{
    
}

body{
    line-height: 1.35;
}

#stroke{
    font-family: "UmePlumePGothic";
}
#bitmap{
    font-family: "UmeLoopGothic";
}
#outline{
    font-family: "UmeStraightSoft";
}

/* #stroke{
    font-family: "UmePlumePMincho";
}
#bitmap{
    font-family: "UmeLoopMincho";
}
#outline{
    font-family: "UmeHelium";
} */

h1{
    font-size: 128pt;
    line-height: 0.95;
    text-transform: uppercase;
    /* font-weight: bold; */
}

/* sizes */
p:nth-of-type(1){
    --fs: 36pt;
    --lh: 1;
}
p:nth-of-type(2){
    --fs: 24pt;
    --lh: 1;
    margin-top: 24pt;
}
p:nth-of-type(3){
    --fs: 12pt;
    --lh: 1.35;
}
p{
    --fs: 8pt;
    --lh: 1.35;
    font-size: var(--fs);
    line-height: var(--lh);
    margin: 16pt 0;
    padding-right: 0.8em;
}

/* limiting sizes */
p.limited{
    max-height: calc(var(--fs) *  var(--lh) * 6);
    overflow: hidden;
    position: relative;
}
p.limited.big{
    max-height: calc(var(--fs) *  var(--lh) * 12);
    /* columns: 2;
    column-gap: 6pt; */
}
p.limited::after{
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24pt;
}
.page-content > section{
    overflow: hidden;
    max-height: 100%;
    position: relative;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr); */
}
/* .page-content > section > *{
    grid-column: 1 / -1;
    gap: 12pt;
} */

/* ume */
.page-content > section::after{
    position: absolute;
    /* float: right; */
    font-size: 312pt;
    line-height: 1;

    display: block;
    width: 53%;
    text-align: center;

    margin-top: -0.9em;
    right: -0.04em;

    /* grid-column: 2 / -1;
    grid-row: 6 / span 1; */
}
p:nth-of-type(3){
    margin-right: 48%;
}
p:nth-of-type(4){
    margin-right: 48%;
}
.page-content > section:nth-child(1)::after{
    content: 'U';
}
.page-content > section:nth-child(2)::after{
    content: 'M';
}
.page-content > section:nth-child(3)::after{
    content: 'E';
}

/* .page-content > section{
    opacity: 0;
}
.page-content > section:nth-child(3){
    opacity: 1;
} */

.page-content::after{
    position: absolute;
    content: "";
    width: 0.7em;
    height: 0.7em;
    display: block;
    top: 46%;
    left: 50%;
    background: black;
    border-radius: 50%;
}

