
:root{ 

    /* PRINT VARIABLES */

    --bleeds: 0mm;
    --bleeds-print: 0mm;

    /* A5 */
    --pad: 1cm;
    --page-inner-w: 420mm;
    --page-inner-h: 297mm;

    /* PRE-COMPUTED-VALUES */
    --page-outer-w: calc(var(--page-inner-w) + calc(var(--bleeds) * 2));
    --page-outer-h: calc(var(--page-inner-h) + calc(var(--bleeds) * 2));

}


/*  UTILITIES
    ===================================================== */

img{
    max-width: 100%;
}

/* multiple layer child in a same container */
.container{
    position: relative;
}
.layer{
    position: absolute;
    inset: 0;
}

/* to use on some layer */
.pad{
    padding: var(--pad);
}


/* to put the bleeding div */
.bleeds{
    position: absolute; inset: calc(-1 * var(--bleeds-print));  
}
.bleeds-t{ position: absolute; top: calc(-1 * var(--bleeds-print)); }
.bleeds-l{ position: absolute; left: calc(-1 * var(--bleeds-print)); }
.bleeds-r{ position: absolute; right: calc(-1 * var(--bleeds-print)); }
.bleeds-b{ position: absolute; bottom: calc(-1 * var(--bleeds-print)); }


/* micro-typo */
.keep{
  white-space: nowrap;
}


/* folds */
.v-folds{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.h-folds{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.v-folds > .fold,
.h-folds > .fold{
    flex: 1 0 0%;
    min-width: 0;
    min-height: 0;
    position: relative;
}

@media only screen {
    .fold{
        outline: 1px green solid;
        outline-offset: -0.5px;
    }
}


/*  EASY FLEX
    ===================================================== */


.flex-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.flex-space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-stretch-first{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-stretch-first > *:first-child{
    flex-grow: 1;
}


/*  PRINT LAYOUT
    ===================================================== */

.page{
    width: var(--page-outer-w);
    height: var(--page-outer-h);

    box-sizing: border-box;
    
    position: relative;
    overflow: visible;
    
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/break-after */
    break-after: page;
    page-break-inside: avoid;
}

.page > .page-content{
    position: relative;
    box-sizing: border-box;
    left: var(--bleeds);
    top: var(--bleeds);
    width: var(--page-inner-w);
    height: var(--page-inner-h); 
}

/*  CONTROLS
    ===================================================== */

body > .main-controls{
    display: none;
}

@media screen {
    body > .main-controls {
        /* fixed font-size so it doesn't interfere with user font-sizes */
        font-size: 14px;

        background: gainsboro;
        border-bottom: thin darkgrey solid;
        box-sizing: border-box;
        color: black;
        font-family: monospace;
        text-transform: capitalize;

        align-items: stretch;
        display: flex;
    
        position: fixed;
        height: 40px;
        top: 0; left: 0; right: 0;
        z-index: 1000000000;
    }
    body > .main-controls > .control{
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        border-right: thin darkgrey solid;
    }
    input{
        font-family: monospace;
        font-size: 14px;
        text-transform: capitalize;
    }
}


/*  SCREEN INTERFACE
    ===================================================== */

@media only screen {

    body{
        background-color: grey;
        padding-top: 40px;
    }
    .page{
        margin: 1cm auto;
        outline: 1px yellowgreen solid;
        background: white;
    }
    /* .page-content::after{
        content: '';
        position: absolute;
        inset: 0;
        outline: 1px green solid;
        outline-offset: -0.5px;
        pointer-events: none;
    } */

    /* PREVIEW MODE */
    body.preview .page{
        width: var(--page-inner-w);
        height: var(--page-inner-h);
        overflow: hidden;

        outline: none;
    }
    body.preview .page-content{
        top: 0; left: 0;
    }
    body.preview .page::after{
        /* crop marks */
        display: none;
    }
    body.preview .page-content::after{
        /* ouline marks */
        display: none;
    }

    /* HORIZONTAL MODE */
    body.horizontal{
        display: flex;
        padding: 1cm;
        padding-top: calc(1cm + 40px);
        gap: 1cm;
    }
    body.horizontal .page{
        /* float: left; */
        margin: 0;
    }

    /* SPREAD MODE */
    body.spread{
        padding: 1cm;
        padding-top: calc(1cm + 40px);

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    body.spread .page{
        margin: 0;
        margin-bottom: 1cm;
    }
    body.spread .page:nth-of-type(2n-1){
        margin-left: auto;
    }
}


/*  CROP MARKS
    ===================================================== */

:root{

    --crop-marks-w: 1px;
    --crop-marks-space: 1mm;


    /* PRE-COMPUTED-VALUES */

    --crop-mark-gradient: 
        white 0,
        white var(--crop-marks-w),
        black var(--crop-marks-w),
        black calc(var(--crop-marks-w) * 2)
    ;

    --crop-marks-l: linear-gradient(to right, var(--crop-mark-gradient));
    --crop-marks-r: linear-gradient(to left, var(--crop-mark-gradient));
    --crop-marks-t: linear-gradient(to bottom, var(--crop-mark-gradient));
    --crop-marks-b: linear-gradient(to top, var(--crop-mark-gradient));

    --crop-mark-v-sizes: calc(var(--crop-marks-w) * 2) calc(var(--bleeds) - var(--crop-marks-space));
    --crop-mark-h-sizes: calc(var(--bleeds) - var(--crop-marks-space)) calc(var(--crop-marks-w) * 2);
}

.page::after{
    content: '';
    position: absolute;
    inset: 0; 

    background: 
        var(--crop-marks-l), var(--crop-marks-r),
        var(--crop-marks-l), var(--crop-marks-r),
        var(--crop-marks-t), var(--crop-marks-b),
        var(--crop-marks-t), var(--crop-marks-b)
    ;

    background-size: 
        var(--crop-mark-v-sizes), var(--crop-mark-v-sizes),
        var(--crop-mark-v-sizes), var(--crop-mark-v-sizes),
        var(--crop-mark-h-sizes), var(--crop-mark-h-sizes),
        var(--crop-mark-h-sizes), var(--crop-mark-h-sizes)
    ;

    background-position: 
        calc(var(--bleeds) - var(--crop-marks-w)) 0%,
        calc(var(--page-outer-w) - var(--bleeds) - var(--crop-marks-w)) 0%,
        calc(var(--bleeds) - var(--crop-marks-w)) 100%,
        calc(var(--page-outer-w) - var(--bleeds) - var(--crop-marks-w)) 100%,
        0% calc(var(--bleeds) - var(--crop-marks-w)),
        0% calc(var(--page-outer-h) - var(--bleeds) - var(--crop-marks-w)),
        100% calc(var(--bleeds) - var(--crop-marks-w)),
        100% calc(var(--page-outer-h) - var(--bleeds) - var(--crop-marks-w))
    ;

    background-repeat: no-repeat;
    pointer-events: none;
}