@font-face {
  font-family: ume_mincho_balsa_italic;
  src: url("webfonts/Ume-Mincho_Balsa-italic.woff2") format('woff2'),
       url("webfonts/Ume-Mincho_Balsa-italic.woff") format('woff'),
       url("webfonts/Ume-Mincho_Balsa-italic.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa;
  src: url("webfonts/Ume-Mincho_Balsa.woff2") format('woff2'),
       url("webfonts/Ume-Mincho_Balsa.woff") format('woff'),
       url("webfonts/Ume-Mincho_Balsa.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_vertical_italic;
  src: url("webfonts/Ume-P-Gothic-Vertical-italic.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic-Vertical-italic.woff") format('woff'),
       url("webfonts/Ume-P-Gothic-Vertical-italic.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_vertical;
  src: url("webfonts/Ume-P-Gothic-Vertical.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic-Vertical.woff") format('woff'),
       url("webfonts/Ume-P-Gothic-Vertical.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_balsa_italic;
  src: url("webfonts/Ume-P-Gothic_Balsa-italic.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic_Balsa-italic.woff") format('woff'),
       url("webfonts/Ume-P-Gothic_Balsa-italic.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_balsa;
  src: url("webfonts/Ume-P-Gothic_Balsa.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic_Balsa.woff") format('woff'),
       url("webfonts/Ume-P-Gothic_Balsa.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_mincho_italic;
  src: url("webfonts/Ume-P-Mincho-italic.woff2") format('woff2'),
       url("webfonts/Ume-P-Mincho-italic.woff") format('woff'),
       url("webfonts/Ume-P-Mincho-italic.ttf") format('truetype');
}

@font-face {
  font-family: ume_pgo4;
  src: url("webfonts/ume-pgo4.woff2") format('woff2'),
       url("webfonts/ume-pgo4.woff") format('woff'),
       url("webfonts/ume-pgo4.ttf") format('truetype');
}

@font-face {
  font-family: ume_pmo3;
  src: url("webfonts/ume-pmo3.woff2") format('woff2'),
       url("webfonts/ume-pmo3.woff") format('woff'),
       url("webfonts/ume-pmo3.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_fanzine;
  src: url("webfonts/Ume-Mincho_fanzine.woff2") format('woff2'),
       url("webfonts/Ume-Mincho_fanzine.woff") format('woff'),
       url("webfonts/Ume-Mincho_fanzine.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_vertical_fanzine;
  src: url("webfonts/Ume-P-Gothic-Vertical_fanzine.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic-Vertical_fanzine.woff") format('woff'),
       url("webfonts/Ume-P-Gothic-Vertical_fanzine.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_fanzine;
  src: url("webfonts/Ume-P-Gothic_fanzine.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic_fanzine.woff") format('woff'),
       url("webfonts/Ume-P-Gothic_fanzine.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_rings;
  src: url("webfonts/Ume-P-Gothic_Rings.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic_Rings.woff") format('woff'),
       url("webfonts/Ume-P-Gothic_Rings.ttf") format('truetype');
}

@font-face {
  font-family: tyson;
  src: url("webfonts/Tyson.woff2") format('woff2'),
        url("webfonts/Tyson.woff") format('woff'),
        url("webfonts/Tyson.otf") format('opentype');
}

@font-face {
  font-family: ume_mincho_latin_webfont;
  src: url("webfonts/ume-mincho-latin-webfont.woff2") format('woff2'),
       url("webfonts/ume-mincho-latin-webfont.woff") format('woff'),
       url("webfonts/ume-mincho-latin-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_balsa_webfont;
  src: url("webfonts/ume-p-gothic_balsa-webfont.woff2") format('woff2'),
       url("webfonts/ume-p-gothic_balsa-webfont.woff") format('woff'),
       url("webfonts/ume-p-gothic_balsa-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_vertical_webfont;
  src: url("webfonts/ume-p-gothic-vertical-webfont.woff2") format('woff2'),
       url("webfonts/ume-p-gothic-vertical-webfont.woff") format('woff'),
       url("webfonts/ume-p-gothic-vertical-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_shadow;
  src: url("webfonts/Ume-Mincho-Shadow.woff2") format('woff2'),
        url("webfonts/Ume-Mincho-Shadow.woff") format('woff'),
        url("webfonts/Ume-Mincho-Shadow.otf") format('opentype');
}

@font-face {
  font-family: ume_mincho_x;
  src: url("webfonts/Ume-Mincho-X.woff2") format('woff2'),
        url("webfonts/Ume-Mincho-X.woff") format('woff'),
        url("webfonts/Ume-Mincho-X.otf") format('opentype');
}

@font-face {
  font-family: ume_p_gothic_shadow;
  src: url("webfonts/Ume-P-Gothic-Shadow.woff2") format('woff2'),
        url("webfonts/Ume-P-Gothic-Shadow.woff") format('woff'),
        url("webfonts/Ume-P-Gothic-Shadow.otf") format('opentype');
}

@font-face {
  font-family: ume_p_gothic_balsa_bold;
  src: url("webfonts/Ume-P-Gothic_Balsa-bold.woff2") format('woff2'),
        url("webfonts/Ume-P-Gothic_Balsa-bold.woff") format('woff'),
        url("webfonts/Ume-P-Gothic_Balsa-bold.otf") format('opentype');
}

@font-face {
  font-family: ume_p_mincho;
  src: url("webfonts/Ume-P-Mincho.woff2") format('woff2'),
        url("webfonts/Ume-P-Mincho.woff") format('woff'),
        url("webfonts/Ume-P-Mincho.otf") format('opentype');
}

@font-face {
  font-family: oswald_bold;
  src: url("webfonts/Oswald-Bold.woff2") format('woff2'),
       url("webfonts/Oswald-Bold.woff") format('woff'),
       url("webfonts/Oswald-Bold.ttf") format('truetype');
}

@font-face {
  font-family: oswald_light;
  src: url("webfonts/Oswald-Light.woff2") format('woff2'),
       url("webfonts/Oswald-Light.woff") format('woff'),
       url("webfonts/Oswald-Light.ttf") format('truetype');
}

@font-face {
  font-family: oswald_regular;
  src: url("webfonts/Oswald-Regular.woff2") format('woff2'),
       url("webfonts/Oswald-Regular.woff") format('woff'),
       url("webfonts/Oswald-Regular.ttf") format('truetype');
}

@font-face {
  font-family: franklin_gothic;
  src: url("webfonts/FranklinGothic.woff2") format('woff2'),
       url("webfonts/FranklinGothic.woff") format('woff'),
       url("webfonts/FranklinGothic.ttf") format('truetype');
}

@font-face {
  font-family: musical_balsa;
  src: url("webfonts/MusicalBalsa.woff2") format('woff2'),
        url("webfonts/MusicalBalsa.woff") format('woff'),
        url("webfonts/MusicalBalsa.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_120;
  src: url("webfonts/UmePlumePGothic-120.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-120.woff") format('woff'),
        url("webfonts/UmePlumePGothic-120.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_158;
  src: url("webfonts/UmePlumePGothic-158.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-158.woff") format('woff'),
        url("webfonts/UmePlumePGothic-158.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_200;
  src: url("webfonts/UmePlumePGothic-200.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-200.woff") format('woff'),
        url("webfonts/UmePlumePGothic-200.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_220;
  src: url("webfonts/UmePlumePGothic-220.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-220.woff") format('woff'),
        url("webfonts/UmePlumePGothic-220.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_260;
  src: url("webfonts/UmePlumePGothic-260.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-260.woff") format('woff'),
        url("webfonts/UmePlumePGothic-260.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_30;
  src: url("webfonts/UmePlumePGothic-30.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-30.woff") format('woff'),
        url("webfonts/UmePlumePGothic-30.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_300;
  src: url("webfonts/UmePlumePGothic-300.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-300.woff") format('woff'),
        url("webfonts/UmePlumePGothic-300.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_330;
  src: url("webfonts/UmePlumePGothic-330.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-330.woff") format('woff'),
        url("webfonts/UmePlumePGothic-330.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_410;
  src: url("webfonts/UmePlumePGothic-410.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-410.woff") format('woff'),
        url("webfonts/UmePlumePGothic-410.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_45;
  src: url("webfonts/UmePlumePGothic-45.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-45.woff") format('woff'),
        url("webfonts/UmePlumePGothic-45.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_500;
  src: url("webfonts/UmePlumePGothic-500.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-500.woff") format('woff'),
        url("webfonts/UmePlumePGothic-500.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_600;
  src: url("webfonts/UmePlumePGothic-600.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-600.woff") format('woff'),
        url("webfonts/UmePlumePGothic-600.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_65;
  src: url("webfonts/UmePlumePGothic-65.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-65.woff") format('woff'),
        url("webfonts/UmePlumePGothic-65.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_90;
  src: url("webfonts/UmePlumePGothic-90.woff2") format('woff2'),
        url("webfonts/UmePlumePGothic-90.woff") format('woff'),
        url("webfonts/UmePlumePGothic-90.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_120;
  src: url("webfonts/UmePlumePMincho-120.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-120.woff") format('woff'),
        url("webfonts/UmePlumePMincho-120.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_158;
  src: url("webfonts/UmePlumePMincho-158.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-158.woff") format('woff'),
        url("webfonts/UmePlumePMincho-158.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_200;
  src: url("webfonts/UmePlumePMincho-200.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-200.woff") format('woff'),
        url("webfonts/UmePlumePMincho-200.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_220;
  src: url("webfonts/UmePlumePMincho-220.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-220.woff") format('woff'),
        url("webfonts/UmePlumePMincho-220.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_260;
  src: url("webfonts/UmePlumePMincho-260.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-260.woff") format('woff'),
        url("webfonts/UmePlumePMincho-260.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_30;
  src: url("webfonts/UmePlumePMincho-30.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-30.woff") format('woff'),
        url("webfonts/UmePlumePMincho-30.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_300;
  src: url("webfonts/UmePlumePMincho-300.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-300.woff") format('woff'),
        url("webfonts/UmePlumePMincho-300.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_330;
  src: url("webfonts/UmePlumePMincho-330.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-330.woff") format('woff'),
        url("webfonts/UmePlumePMincho-330.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_410;
  src: url("webfonts/UmePlumePMincho-410.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-410.woff") format('woff'),
        url("webfonts/UmePlumePMincho-410.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_45;
  src: url("webfonts/UmePlumePMincho-45.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-45.woff") format('woff'),
        url("webfonts/UmePlumePMincho-45.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_500;
  src: url("webfonts/UmePlumePMincho-500.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-500.woff") format('woff'),
        url("webfonts/UmePlumePMincho-500.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_600;
  src: url("webfonts/UmePlumePMincho-600.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-600.woff") format('woff'),
        url("webfonts/UmePlumePMincho-600.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_65;
  src: url("webfonts/UmePlumePMincho-65.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-65.woff") format('woff'),
        url("webfonts/UmePlumePMincho-65.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_mincho_90;
  src: url("webfonts/UmePlumePMincho-90.woff2") format('woff2'),
        url("webfonts/UmePlumePMincho-90.woff") format('woff'),
        url("webfonts/UmePlumePMincho-90.otf") format('opentype');
}

@font-face {
  font-family: umetra_01_p_mincho;
  src: url("webfonts/Umetra-01P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-01P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-01P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_02_p_gothic;
  src: url("webfonts/Umetra-02P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-02P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-02P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_02_p_mincho;
  src: url("webfonts/Umetra-02P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-02P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-02P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_05_p_gothic;
  src: url("webfonts/Umetra-05P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-05P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-05P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_05_p_mincho;
  src: url("webfonts/Umetra-05P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-05P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-05P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_10_p_gothic;
  src: url("webfonts/Umetra-10P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-10P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-10P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_10_p_mincho;
  src: url("webfonts/Umetra-10P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-10P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-10P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_15_p_gothic;
  src: url("webfonts/Umetra-15P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-15P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-15P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_15_p_mincho;
  src: url("webfonts/Umetra-15P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-15P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-15P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_20_p_gothic;
  src: url("webfonts/Umetra-20P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-20P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-20P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_20_p_mincho;
  src: url("webfonts/Umetra-20P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-20P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-20P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_30_p_gothic;
  src: url("webfonts/Umetra-30P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-30P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-30P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_30_p_mincho;
  src: url("webfonts/Umetra-30P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-30P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-30P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_40_p_gothic;
  src: url("webfonts/Umetra-40P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-40P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-40P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_40_p_mincho;
  src: url("webfonts/Umetra-40P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-40P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-40P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_50_p_gothic;
  src: url("webfonts/Umetra-50P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-50P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-50P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_50_p_mincho;
  src: url("webfonts/Umetra-50P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-50P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-50P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: umetra_60_p_gothic;
  src: url("webfonts/Umetra-60P_Gothic.woff2") format('woff2'),
       url("webfonts/Umetra-60P_Gothic.woff") format('woff'),
       url("webfonts/Umetra-60P_Gothic.ttf") format('truetype');
}

@font-face {
  font-family: umetra_60_p_mincho;
  src: url("webfonts/Umetra-60P_Mincho.woff2") format('woff2'),
       url("webfonts/Umetra-60P_Mincho.woff") format('woff'),
       url("webfonts/Umetra-60P_Mincho.ttf") format('truetype');
}

@font-face {
  font-family: ume_loop_gothic12;
  src: url("webfonts/UmeLoopGothic12.woff2") format('woff2'),
        url("webfonts/UmeLoopGothic12.woff") format('woff'),
        url("webfonts/UmeLoopGothic12.otf") format('opentype');
}

@font-face {
  font-family: ume_loop_gothic16;
  src: url("webfonts/UmeLoopGothic16.woff2") format('woff2'),
        url("webfonts/UmeLoopGothic16.woff") format('woff'),
        url("webfonts/UmeLoopGothic16.otf") format('opentype');
}

@font-face {
  font-family: ume_loop_gothic6;
  src: url("webfonts/UmeLoopGothic6.woff2") format('woff2'),
        url("webfonts/UmeLoopGothic6.woff") format('woff'),
        url("webfonts/UmeLoopGothic6.otf") format('opentype');
}

@font-face {
  font-family: ume_loop_mincho12;
  src: url("webfonts/UmeLoopMincho12.woff2") format('woff2'),
        url("webfonts/UmeLoopMincho12.woff") format('woff'),
        url("webfonts/UmeLoopMincho12.otf") format('opentype');
}

@font-face {
  font-family: ume_loop_vertical12;
  src: url("webfonts/UmeLoopVertical12.woff2") format('woff2'),
        url("webfonts/UmeLoopVertical12.woff") format('woff'),
        url("webfonts/UmeLoopVertical12.otf") format('opentype');
}

@font-face {
  font-family: ume_loop_vertical6;
  src: url("webfonts/UmeLoopVertical6.woff2") format('woff2'),
        url("webfonts/UmeLoopVertical6.woff") format('woff'),
        url("webfonts/UmeLoopVertical6.otf") format('opentype');
}

@font-face {
  font-family: ume_plume_p_gothic_narrow_squared_600;
  src: url("webfonts/UmePlumePGothicNarrowSquared-600.woff2") format('woff2'),
        url("webfonts/UmePlumePGothicNarrowSquared-600.woff") format('woff'),
        url("webfonts/UmePlumePGothicNarrowSquared-600.otf") format('opentype');
}

@font-face {
  font-family: ume_vertical_wide_bridge;
  src: url("webfonts/Ume-Vertical-Wide-Bridge.woff2") format('woff2'),
       url("webfonts/Ume-Vertical-Wide-Bridge.woff") format('woff'),
       url("webfonts/Ume-Vertical-Wide-Bridge.ttf") format('truetype');
}

@font-face {
  font-family: ume_vertical_wide_oblique;
  src: url("webfonts/Ume-Vertical-Wide-Oblique.woff2") format('woff2'),
       url("webfonts/Ume-Vertical-Wide-Oblique.woff") format('woff'),
       url("webfonts/Ume-Vertical-Wide-Oblique.ttf") format('truetype');
}

@font-face {
  font-family: ume_vertical_wide;
  src: url("webfonts/Ume-Vertical-Wide.woff2") format('woff2'),
       url("webfonts/Ume-Vertical-Wide.woff") format('woff'),
       url("webfonts/Ume-Vertical-Wide.ttf") format('truetype');
}

@font-face {
  font-family: balsa_stroke50;
  src: url("webfonts/BalsaStroke50.woff2") format('woff2'),
        url("webfonts/BalsaStroke50.woff") format('woff'),
        url("webfonts/BalsaStroke50.otf") format('opentype');
}

@font-face {
  font-family: ume_vertical_wide_oblique_webfont;
  src: url("webfonts/ume-vertical-wide-oblique-webfont.woff2") format('woff2'),
       url("webfonts/ume-vertical-wide-oblique-webfont.woff") format('woff'),
       url("webfonts/ume-vertical-wide-oblique-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_vertical_wide_webfont;
  src: url("webfonts/ume-vertical-wide-webfont.woff2") format('woff2'),
       url("webfonts/ume-vertical-wide-webfont.woff") format('woff'),
       url("webfonts/ume-vertical-wide-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa_condensed;
  src: url("webfonts/Ume-Mincho_Balsa-Condensed.woff2") format('woff2'),
       url("webfonts/Ume-Mincho_Balsa-Condensed.woff") format('woff'),
       url("webfonts/Ume-Mincho_Balsa-Condensed.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa_bold_webfont;
  src: url("webfonts/ume-mincho_balsa-bold-webfont.woff2") format('woff2'),
       url("webfonts/ume-mincho_balsa-bold-webfont.woff") format('woff'),
       url("webfonts/ume-mincho_balsa-bold-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa_condensed_webfont;
  src: url("webfonts/ume-mincho_balsa-condensed-webfont.woff2") format('woff2'),
       url("webfonts/ume-mincho_balsa-condensed-webfont.woff") format('woff'),
       url("webfonts/ume-mincho_balsa-condensed-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa_webfont;
  src: url("webfonts/ume-mincho_balsa-webfont.woff2") format('woff2'),
       url("webfonts/ume-mincho_balsa-webfont.woff") format('woff'),
       url("webfonts/ume-mincho_balsa-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_balsa_bold_webfont;
  src: url("webfonts/ume-p-gothic_balsa-bold-webfont.woff2") format('woff2'),
       url("webfonts/ume-p-gothic_balsa-bold-webfont.woff") format('woff'),
       url("webfonts/ume-p-gothic_balsa-bold-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke_master_condensed;
  src: url("webfonts/ume-stroke-stroke-master-condensed.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-master-condensed.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-master-condensed.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_master_expanded;
  src: url("webfonts/ume-stroke-stroke-master-expanded.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-master-expanded.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-master-expanded.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_saison2;
  src: url("webfonts/ume-stroke-stroke-saison2.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-saison2.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-saison2.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_condensed_int_180_ext_180;
  src: url("webfonts/ume-stroke-stroke-condensed-int-180-ext-180.woff2") format('woff2'),
       url("webfonts/ume-stroke-stroke-condensed-int-180-ext-180.woff") format('woff'),
       url("webfonts/ume-stroke-stroke-condensed-int-180-ext-180.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke_expended_int_100_ext_100;
  src: url("webfonts/ume-stroke-stroke-expended-int-100-ext-100.woff2") format('woff2'),
       url("webfonts/ume-stroke-stroke-expended-int-100-ext-100.woff") format('woff'),
       url("webfonts/ume-stroke-stroke-expended-int-100-ext-100.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke_condensed_int_235_ext_235;
  src: url("webfonts/ume-stroke-stroke-condensed-int-235-ext-235.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-condensed-int-235-ext-235.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-condensed-int-235-ext-235.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_expanded_int_235_ext_235;
  src: url("webfonts/ume-stroke-stroke-expanded-int-235-ext-235.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-expanded-int-235-ext-235.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-expanded-int-235-ext-235.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_extra_condensed_int_235_ext_235;
  src: url("webfonts/ume-stroke-stroke-extra-condensed-int-235-ext-235.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-extra-condensed-int-235-ext-235.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-extra-condensed-int-235-ext-235.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_extra_extra_condensed_int_235_ext_235;
  src: url("webfonts/ume-stroke-stroke-extra-extra-condensed-int-235-ext-235.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-extra-extra-condensed-int-235-ext-235.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-extra-extra-condensed-int-235-ext-235.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_0_5_int_500_ext_500;
  src: url("webfonts/ume-stroke-stroke-scaleX-0-5-int-500-ext-500.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-0-5-int-500-ext-500.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-0-5-int-500-ext-500.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_0_7_int_500_ext_500;
  src: url("webfonts/ume-stroke-stroke-scaleX-0-7-int-500-ext-500.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-0-7-int-500-ext-500.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-0-7-int-500-ext-500.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_1_0_int_500_ext_500;
  src: url("webfonts/ume-stroke-stroke-scaleX-1-0-int-500-ext-500.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-1-0-int-500-ext-500.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-1-0-int-500-ext-500.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_1_2_int_140_ext_140;
  src: url("webfonts/ume-stroke-stroke-scaleX-1-2-int-140-ext-140.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-140-ext-140.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-140-ext-140.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_1_2_int_500_ext_500;
  src: url("webfonts/ume-stroke-stroke-scaleX-1-2-int-500-ext-500.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-500-ext-500.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-500-ext-500.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_condensed_int_100_ext_100;
  src: url("webfonts/ume-stroke-stroke-condensed-int-100-ext-100.woff2") format('woff2'),
       url("webfonts/ume-stroke-stroke-condensed-int-100-ext-100.woff") format('woff'),
       url("webfonts/ume-stroke-stroke-condensed-int-100-ext-100.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_1_0_int_100_ext_100;
  src: url("webfonts/ume-stroke-stroke-scaleX-1-0-int-100-ext-100.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-1-0-int-100-ext-100.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-1-0-int-100-ext-100.otf") format('opentype');
}

@font-face {
  font-family: ume_stroke_stroke_scale_x_1_2_int_100_ext_100;
  src: url("webfonts/ume-stroke-stroke-scaleX-1-2-int-100-ext-100.woff2") format('woff2'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-100-ext-100.woff") format('woff'),
        url("webfonts/ume-stroke-stroke-scaleX-1-2-int-100-ext-100.otf") format('opentype');
}

@font-face {
  font-family: ume_bold;
  src: url("webfonts/Ume-Bold.woff2") format('woff2'),
       url("webfonts/Ume-Bold.woff") format('woff'),
       url("webfonts/Ume-Bold.ttf") format('truetype');
}

@font-face {
  font-family: ume_medium;
  src: url("webfonts/Ume-Medium.woff2") format('woff2'),
       url("webfonts/Ume-Medium.woff") format('woff'),
       url("webfonts/Ume-Medium.ttf") format('truetype');
}

@font-face {
  font-family: ume_condensed_bold;
  src: url("webfonts/Ume-condensed-bold.woff2") format('woff2'),
       url("webfonts/Ume-condensed-bold.woff") format('woff'),
       url("webfonts/Ume-condensed-bold.ttf") format('truetype');
}

@font-face {
  font-family: ume_condensed;
  src: url("webfonts/Ume-condensed.woff2") format('woff2'),
       url("webfonts/Ume-condensed.woff") format('woff'),
       url("webfonts/Ume-condensed.ttf") format('truetype');
}

@font-face {
  font-family: ume_expanded;
  src: url("webfonts/Ume-expanded.woff2") format('woff2'),
       url("webfonts/Ume-expanded.woff") format('woff'),
       url("webfonts/Ume-expanded.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_mincho_webfont;
  src: url("webfonts/ume-p-mincho-webfont.woff2") format('woff2'),
       url("webfonts/ume-p-mincho-webfont.woff") format('woff'),
       url("webfonts/ume-p-mincho-webfont.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke_fat_fat;
  src: url("webfonts/ume-stroke-stroke-fat-fat.woff2") format('woff2'),
       url("webfonts/ume-stroke-stroke-fat-fat.woff") format('woff'),
       url("webfonts/ume-stroke-stroke-fat-fat.ttf") format('truetype');
}

@font-face {
  font-family: ume_stroke_stroke;
  src: url("webfonts/ume-stroke-stroke.woff2") format('woff2'),
       url("webfonts/ume-stroke-stroke.woff") format('woff'),
       url("webfonts/ume-stroke-stroke.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_shadow_webfont;
  src: url("webfonts/ume-p-gothic-shadow-webfont.woff2") format('woff2'),
       url("webfonts/ume-p-gothic-shadow-webfont.woff") format('woff'),
       url("webfonts/ume-p-gothic-shadow-webfont.ttf") format('truetype');
}

@font-face {
  font-family: belogodor;
  src: url("webfonts/Belogodor.woff2") format('woff2'),
       url("webfonts/Belogodor.woff") format('woff'),
       url("webfonts/Belogodor.ttf") format('truetype');
}

@font-face {
  font-family: ume_mincho_balsa_m;
  src: url("webfonts/Ume-Mincho_BalsaM.woff2") format('woff2'),
       url("webfonts/Ume-Mincho_BalsaM.woff") format('woff'),
       url("webfonts/Ume-Mincho_BalsaM.ttf") format('truetype');
}

@font-face {
  font-family: ume_balsa_arrow;
  src: url("webfonts/Ume-Balsa-Arrow.woff2") format('woff2'),
       url("webfonts/Ume-Balsa-Arrow.woff") format('woff'),
       url("webfonts/Ume-Balsa-Arrow.ttf") format('truetype');
}

@font-face {
  font-family: ume_p_gothic_strech_contour;
  src: url("webfonts/Ume-P-Gothic_strech-contour.woff2") format('woff2'),
       url("webfonts/Ume-P-Gothic_strech-contour.woff") format('woff'),
       url("webfonts/Ume-P-Gothic_strech-contour.ttf") format('truetype');
}

@font-face {
  font-family: ume_straight_soft;
  src: url("webfonts/Ume-Straight-Soft.woff2") format('woff2'),
       url("webfonts/Ume-Straight-Soft.woff") format('woff'),
       url("webfonts/Ume-Straight-Soft.ttf") format('truetype');
}

@font-face {
  font-family: ume_helium;
  src: url("webfonts/UmeHelium.woff2") format('woff2'),
        url("webfonts/UmeHelium.woff") format('woff'),
        url("webfonts/UmeHelium.otf") format('opentype');
}

